
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      

      <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a href="/courses/create"><button class="dropdown-item" type="button">Tạo khóa học</button></a>
          <a href="#"><button class="dropdown-item" type="button">Danh sách khóa học</button></a>
          <a href="#"><button class="dropdown-item" type="button">Đăng xuất</button></a>
        </div>
      </div>
    </ul>
  </div>
</nav>