<div class="mt-4">
    <div class="container">
        <form method="POST" action='/courses'>
            <div class="form-group">
                <label for="name">Khóa học</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="desctiption">Mô tả</label>
                <input type="text" class="form-control" name="desctiption" id="desctiption" >
            </div>
            <div class="form-group">
                <label for="videoID">link Video</label>
                <input type="text" class="form-control" name="videoID" id="videoID" >
            </div>
            <button type="submit" class="btn btn-primary mt-4">Tạo khóa học</button>
        </form>
    </div>
</div>